*{
  list-style-type: none;
  text-decoration: none;
margin: 0;
padding: 0;
color: white;
}
ul{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 50px;
  align-items: center;
}
li{
  margin-left: 25px;
}
.flex{
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}